.search{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}