
.container{
 max-width: 1200px;
 height:1600px;
 margin: 50px auto;
 background:lightblue;
}
.header{
 width: 1200px;
 height:120px;
 text-align: center;
 padding: 0px auto;
 background:;
}
.header-1{
 width: 600px;
 height:70px;
 text-align: left;
 float:left;
 padding: 50px 0px 0px 50px;
}
.header-2-1{
 width: 300px;
 height:70px;
 text-align: left;
 float:left;
 padding-top: 50px;
}
.categories{
 width: 90px;
 height: 30px;
 float: left;
}
.search{
  position:relative; 
  width:200px;
  height: 100px;
  vertical-align: middle;
  white-space: nowrap;
  float: right;
}
.header-2-2{
 width: 200px;
 height:20px;
 text-align: center;
 float:right;
 padding-top: 50px;
}
.nav{
 width: 1200px;
 height:60px;
 text-align: center;
 background:#00aeff;
 color: white;
 clear: both;
}
.home,.shop,.page,.blog,.elements,.portfolio{
 width: 100px;0
 height:60px;
 text-align: center;
 float: left;
 margin: 20px 0px 0px 0px;
}
.home{
margin: 20px 0px 0px 300px;
}
.selection{
 width: 1200px;
 height:360px;
}
.selection-1{
 width: 600px;
 height:360px;
 float: left;
 text-align: center;
 text-align: left;
 clear: both;
 background-image:url(C:/Users/Administrator/Documents/GitHub/luyen-tap/img/smp.jpg);
}
.selection-1-1{
 margin: 0px 0px 0px 30px;
}
.selection-2-1{
 width: 300px;
 height:360px;
 background:yellow;
 float:left;
}
.selection-2-1-1{
 margin: 100px 0px 0px 20px;
}
.selection-2-2{
 width: 300px;
 height:360px;
 background:violet;
 float:right;
}
.selection-2-2-1{
 margin: 5px 0px 0px 20px;
}
.aside{
 width: 1200px;
 height:360px;
 padding: 0px auto;
 clear: both;
}
.aside-1{
 width: 800px;
 height:360px;
 float:left;
}
.aside-1-1{
 width: 800px;
 height:180px;
 float:left;
}
.aside-1-1-1{
 width:530px;
 height:180px;
 float:left;
 text-align:center;
 background:orange;
}
.aside-1-1-2{
 width: 270px;
 height:180px;
 text-align:left;
 float:right;
 background:violet;
}.aside-1-1-2-1{
 margin: 5px 0px 0px 20px;
}
.aside-1-2{
 width: 800px;
 height:180px;
 float:left;
}
.aside-1-2-1{
 width: 270px;
 height:180px;
 float:left;
 background:yellow;
}.aside-1-2-1-1{
 margin: 5px 0px 0px 20px;
}
.aside-1-2-2{
 width: 530px;
 height:180px;
 float: right;
 background:grey;
}
.aside-1-2-2-1{
margin: 5px 0px 0px 20px;
}
.aside-2{
 width: 400px;
 height:360px;
 background:orange;
 float:right;
}
.aside-2-1{
margin: 200px 0px 0px 20px;
}
.content{
 width: 1200px;
 height:360px;
 padding: 0px auto;
}
.content-1{
 width: 400px;
 height:360px;
 background:grey;
 float:left;
}
.content-1-1{
 margin: 20px 0px 0px 20px;
}
.content-2{
 width: 800px;
 height:360px;
 background:blue;
 float:right;
}
.content-2-1{
 width: 800px;
 height:180px;
}
.content-2-1-1{
 width: 530px;
 height:180px;
 float:left;
}
.content-2-1-1-1{
margin: 20px 0px 0px 20px;
}
.content-2-1-2{
 width: 270px;
 height:180px;
 float:right;
 background:violet;
}
.content-2-1-1-1{
margin: 20px 0px 0px 20px;
}

.content-2-2{
 width: 800px;
 height:180px;
}
.content-2-2-1{
 width: 230px;
 height:180px;
 float:left;
 background:yellow;
}
.content-2-2-1-1{
margin: 20px 0px 0px 20px;
}
.content-2-2-2{
 width: 570px;
 height:180px;
 float:right;
 background:lightblue;
}
.content-2-2-2-1{
 margin: 20px 0px 0px 20px;
}
.footer-main{
 width: 1000px;
 height:300px;
 background:green;
 margin: 10px auto;
 clear:both;
}
.footer-1,
.footer-3,}{
 width: 500px;
 height:50px;
}
.footer-3{
 background:red;
 margin: 10px auto;
 padding: 5px;
 clear: both;
}
.footer-1-1{
 width: 500px;
 height:50px;
 background:orange;
 margin: 10px auto;
 }
 .search2{
  float:right;
 }
 .footer-2{
 width:450px;
 height:100px;
 margin:20px auto;
}
.footer-2-1,.footer-2-2,.footer-2-3,.footer-2-4{
 width:100px;
 height:150px;
 background:blue;
 margin: 5px;
}
.footer-2-1{
 float:left;
}
.footer-2-2{
 float:left;
}
.footer-2-3{
 float:right;
}
.footer-2-4{
 float:right;
}

